body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 8vh;
  background-color: rgb(236, 245, 248);
}

.nav h1 {
  grid-column: 3 / 5;
  font-size: 24px;
  margin-left: 10px;
}

.navItems {
  grid-column: 5 / 8;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navItems button {
  font-size: 18px;
  display: inline-block;
  margin-right: 30px;
  background: none;
  border: none;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
}

.navItems a:hover {
  cursor: pointer;
}

.navHelper {
  height: 10px;
  grid-row: 10 / 11;
}

.firstGrid {
  display: grid;
  height: 70vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.aboutMeGrid {
  display: grid;
  height: 70vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.picBox {
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  margin-top: 10px;
  margin-left: 20px;
}

.aboutMe {
  grid-column: 6 / 10;
  grid-row: 2 / 4;
  font-size: 20px;
  margin-top: 40px;
}


.aboutPic {
  width: 100%;
}

.headerBox {
  text-align: center;
  display: grid;
  grid-row: 2 / 3;
  grid-column: 1 / 11;
  height: 100%;
  margin-bottom: 20px;
}

.profPic {
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-row: 4 / 5;
  grid-column: 4 / 8;
  border-radius: 100%;
  width: 40%;
  height: auto;
  border: solid 2px black;
}

.headerFS {
  text-align: center;
  display: grid;
  grid-row: 6 / 7;
  grid-column: 4 / 8;
}

/* .headerCity {
  display: grid;
  text-align: center;
  grid-row: 7 / 8;
  grid-column: 1 / 11;
} */

.secondGrid {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background-color: rgb(110, 110, 110);
}

.thirdGrid {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background-color: rgb(207, 207, 207);
}

.fourthGrid {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background-color: rgb(110, 110, 110);
}

.fifthGrid {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background-color: rgb(207, 207, 207);
}

.sixthGrid {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background-color: rgb(110, 110, 110);
}



.projectOne, .projectTwo, .projectThree, .projectFour, .projectFive {
  grid-row: 2 / 10;
  grid-column: 3 / 9;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 7vh);
}

.projectOne h2, .projectTwo h2, .projectFour h2 {
  text-align: center;
  color: white;
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  font-size: 30px;
}

 .projectThree h2, .projectFive h2 {
  text-align: center;
  color: black;
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  font-size: 30px;
}

.pBox {
  grid-column: 7 / 11;
  grid-row: 1 / 5;
  margin-top: 60px;
  margin-left: 20px;
}

.headBox {
  display: flex;
  justify-content: space-evenly;
}

.logoBox {
  display: flex;
  justify-content: space-evenly;
}

.projectOne p, .projectTwo p, .projectFour p {
  color: white;
}

.projectThree p, .projectFive p {
  color: black;
}

.h3Box {
  text-align: center;
  display: flex;
  justify-content: center;
  grid-column: 1 / 11;
  grid-row: 8 / 9;
}

.projectOne h3, .projectTwo h3, .projectFour h3 {
  color: white;
  font-size: 20px;
}

.projectThree h3, .projectFive h3 {
  color: black;
  font-size: 20px;
}

.blackjackPic {
  max-width: 100%;
  grid-column: 1 / 6;
  grid-row: 3 / 11;
}


.learnSpanishPic {
  grid-column: 1 / 6;
  max-width: 108%;
  margin-left: -20px;
}

.techStacks {
  grid-row: 9 / 11;
  grid-column: 1 / 11;
  display: flex;
  justify-content: space-evenly;
}

.techPic {
  max-width: 65px;
  max-height: 65px;
}

.contactPics {
  height: 25vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.contact h2 {
  text-align: center;
  margin-bottom: 70px;
}

.linked, .email, .git {
  max-width: 100%;
}

.linkedIn {
  height: 8vh;
  margin-left: 10px;
}

.emailPic, .gitHubPic {
  height: 9vh;
}

@media only screen and (max-width: 1500px) {
  .projectOne p, .projectTwo p, .projectThree p, .projectFour p, .projectFive p {
    font-size: 16px;
  }



  .pBox {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 1300px) {
  .projectOne h3, .projectTwo h3, .projectThree h3, .projectFour h3, .projectFive h3 {
    font-size: 18px;
  }

  .projectOne, .projectTwo, .projectThree, .projectFour, .projectFive {
    margin-top: 0px;
  }

  /* .blackjackPic {
    max-width: 110%;
  } */

  .techPic {
    max-width: 50px;
    max-height: 50px;
  }

  .projectOne p, .projectTwo p, .projectThree p, .projectFour p, .projectFive p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1100px) {
  .projectOne h3, .projectTwo h3, .projectThree h3, .projectFour h3, .projectFive h3 {
    font-size: 16px;
  }

  .projectOne, .projectTwo, .projectThree, .projectFour, .projectFive {
    margin-top: 20px;
  }

  .nav h1 {
    grid-column: 2 / 5;
  }

  .techPic {
    max-width: 45px;
    max-height: 45px;
  }

  .projectOne p, .projectTwo p, .projectThree p, .projectFour p, .projectFive p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 800px) {

  .projectOne, .projectTwo, .projectThree, .projectFour, .projectFive {
    margin-top: 40px;
  }

}